body {
  margin: 0 auto;
  padding: 0;
  width: 960px;
  font-family: sans-serif;
}

.btn {
  padding: 6px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

.form-control {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
}